In [7]:
import pandas as pd

# Read write from DSV file

In [5]:
import pandas as pd

# creating a data frame
df = pd.DataFrame([['Laptop', 24000], ['TV', 22000]], columns = ['Product Name', 'Price'])

# writing data frame to a DSV file
df.to_csv('shop.dsv')

In [13]:
#read using panda
import pandas as pd
file = pd.read_csv("shop.dsv")
print(file)
file.head()

   Unnamed: 0 Product Name  Price
0           0       Laptop  24000
1           1           TV  22000

   Unnamed: 0 Product Name  Price
0           0       Laptop  24000
1           1           TV  22000